In [2]:
select COUNT(v.SZUL_DAT ) 
from vendeg v JOIN Foglalas f ON  v.USERNEV=f.UGYFEL_FK
where f.FELNOTT_SZAM > 4

In [ ]:
select szo.SZOBA_ID;
        f.mettol;
        
from szallashely sza JOIN Szoba szo ON  szo.SZALLAS_FK=sza.SZALLAS_ID
        foglalas f JOIN szoba szo ON szo.SZOBA_ID=f.SZOBA_ID